* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20pt;
    background-color: #f5dd5d;
    border-bottom: solid black 2px;
}

.header_nav {
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: underline;
    font-style: italic;
    color: black;
}

.user_info {
    display: flex;
    gap: 20px;
}

.main {
    padding: 100px;
    font-size: 16pt;
}